# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc
*.pyo
.env

# DuckDB
storage/*.duckdb
storage/*.duckdb.wal

# Data files
landing/

# Samples JSON
sample_jsons/

# dbt
logs/
target/
dbt_packages/